body, h1, h2, h3, p, ul, ol, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #ffc400;
    color: #333;
    text-align: center;
}

header {
    background-color: blanchedalmond;
    width: 960px;
    height: 100px;
    padding: 20px;
    border: 5px solid blueviolet;
    margin: 0 auto; 
    margin-bottom: 20px;
}

main {
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: red;
    width: 960px;
    height: 50px;
    padding: 20px;
    margin: 20px auto 0; 
}

h1 {
    font-family: sans-serif;
    margin-bottom: 15px; 
}

h2 {
    font-family: fantasy;
}

ul {
    list-style: square;
}

li {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover {
    color: pink;
}

img {
    width: 300px;
}


.imageGallery {
    width: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}

.green {
    color: green;
}

.greyBackground {
    background-color: rgba(30, 30, 30, 0.5);
    color: white; 
    padding: 10px;
}

/* --- Navigation --- */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    text-decoration: none; 
}

nav ul li a {
    color: #003D6B;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    
    font-family: "Lato", sans-serif;
}

nav ul li a:hover {
    background-color: #003D6B;
    color: #ffc400;
}


.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}