body{
      background-color: sienna;
      background-color:rgba(0,255,0,1.0) ;/* rgb 0 - 255 */
      backgroud-color;#999999;
}

h1{
      font-family: sans-serif;
}

h2{
      font-family:fantasy;
}